@keyframes disappear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hero {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero h1 {
  font-weight: normal;
  font-size: 65px;
  font-family: var(--titles-fonts);
}

.hero h2 {
  margin-top: 7px;
  margin-left: 80px;
  font-weight: normal;
  font-size: 35px;
  font-family: var(--titles-fonts);
}

@keyframes writeAnimation {
  from {
    translate-x: 0px;
  }
  to {
    translate-x: 30px;
  }
}

.cv {
  align-self: flex-start;
  margin-left: 35px;
  margin-top: 28px;
  position: relative;
  width: 134px;
  height: 57px;
}

.cv div {
  position: absolute;
  width: 121px;
  height: 47px;
  border: 1px solid white;
}

.cv div:nth-child(1) {
  top: 0px;
  left: 0px;
}

.cv div:nth-child(2) {
  top: 6px;
  left: 6px;
}

.cv div:nth-child(3) {
  cursor: pointer;
  top: 12px;
  left: 12px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--principal-font);
  font-weight: bold;
  font-size: 13px;
  transition: 0.4s ease all;
}

.cv div:nth-child(3):hover {
  background-color: var(--salmon);
  color: black;
}

.description {
  margin-top: 57px;
  position: relative;
  width: 300px;
  height: 226px;
}

.description div {
  position: absolute;
  width: 220px;
  height: 121px;
  border: 1px solid white;
}

.description div:nth-child(2) {
  top: 16px;
  left: 16px;
}

.description div:nth-child(3) {
  width: 171px;
  height: 171px;
  bottom: 0;
  right: 0;
  border-radius: 50%;
}

.description div:nth-child(4) {
  top: 32px;
  left: 32px;
  background-color: black;
}

.description div p {
  padding-top: 11px;
  padding-left: 11px;
  font-size: 12px;
  font-family: var(--principal-font);
  color: var(--gray);
}

.description p span {
  font-weight: bold;
  color: var(--salmon);
}

@media screen and (max-width: 320px) {
  .hero h2 {
    margin-left: 20px;
  }

  .description {
    align-self: flex-end;
  }
}
