@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap");

@font-face {
  font-family: "Turbulence Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Turbulence Regular"),
    url("../assets/fonts/Turbulence.woff") format("woff");
}

:root {
  /* Fuentes */
  --principal-font: "Bai Jamjuree", sans-serif;
  --secondary-font: "Work Sans", sans-serif;

  /* Colores */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes movie {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  10% {
    -webkit-transform: translate(-5%, -5%);
    transform: translate(-5%, -5%);
  }
  20% {
    -webkit-transform: translate(-10%, 5%);
    transform: translate(-10%, 5%);
  }
  30% {
    -webkit-transform: translate(5%, -10%);
    transform: translate(5%, -10%);
  }
  40% {
    -webkit-transform: translate(-5%, 15%);
    transform: translate(-5%, 15%);
  }
  50% {
    -webkit-transform: translate(-10%, 5%);
    transform: translate(-10%, 5%);
  }
  60% {
    -webkit-transform: translate(15%, 0);
    transform: translate(15%, 0);
  }
  70% {
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%);
  }
  80% {
    -webkit-transform: translate(-15%, 0);
    transform: translate(-15%, 0);
  }
  90% {
    -webkit-transform: translate(10%, 5%);
    transform: translate(10%, 5%);
  }
  100% {
    -webkit-transform: translate(5%, 0);
    transform: translate(5%, 0);
  }
}

body {
  color: white;
  font-family: "Turbulence Regular";
  font-weight: normal;
  background-color: black;
}

.bg {
  position: fixed;
  background-image: url(../assets/images/movie.png);
  opacity: 0.6;
  z-index: -1;
  pointer-events: none;
  height: 200%;
  width: 200%;
  left: -50%;
  top: -50%;
  animation: movie 1s steps(4) infinite;
}

header {
  width: 100%;
}

/* svg {
} */

.nav-menu {
  margin-top: 50px;
  display: flex;
}

.nav-menu ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-menu li {
  list-style: none;
}

.nav-menu li span {
  font-family: var(--principal-font);
  cursor: pointer;
  position: relative;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.nav-menu span::before {
  position: absolute;
  content: attr(data-content);
  background: -webkit-linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 40%,
    rgb(255, 255, 255) 60%
  );
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 50%,
    rgb(255, 255, 255) 50%
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: all ease 0.5s;
}

.nav-menu span::after {
  position: absolute;
  content: attr(data-content);
  background: -webkit-linear-gradient(
    top,
    rgb(255, 255, 255) 50%,
    rgba(255, 255, 255, 0) 50%
  );
  background: linear-gradient(
    to top,
    rgb(255, 255, 255) 50%,
    rgba(255, 255, 255, 0) 50%
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: all ease 0.5s;
}

.nav-menu span:hover::before {
  transform: translateY(-3px);
}

.nav-menu span:hover::after {
  transform: translateY(3px);
}
